.navbar {
  background: var(--white);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.navbar-logo {
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo-img {
  height: 80px; 
  width: auto;   
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav-item {
  height: 80px;
  display: flex;
  align-items: center;
}

.nav-links {
  color: var(--charcoal-text);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  transition: all 0.2s ease-out;
}

.nav-links:hover {
  color: var(--primary-green);
}

.nav-links.active {
  color: var(--primary-green);
  border-bottom: 3px solid var(--primary-green);
}

.nav-links-button {
  background-color: var(--primary-green);
  color: var(--white);
  padding: 10px 22px;
  border-radius: 6px; 
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}

.nav-links-button:hover {
  background-color: var(--dark-green-hover);
}