.navbar {
  background: var(--white);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.navbar-logo {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo-img {
  height: 60px; 
  width: auto;   
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav-item {
  height: 80px;
  display: flex;
  align-items: center;
}

.nav-links {
  color: var(--charcoal-text);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.nav-links:hover {
  color: var(--primary-green);
}

.nav-links.active {
  border-bottom: 3px solid var(--primary-green);
}

.nav-links-button {
  background-color: var(--primary-green);
  color: var(--white);
  padding: 10px 22px;
  border-radius: 6px; 
  text-decoration: none;
  margin-left: 20px;
}

.nav-links-button:hover {
  background-color: var(--dark-green-hover);
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .navbar-container {
    padding: 0 20px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 80px); 
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    background: var(--light-green-bg);
  }

  .nav-menu.active {
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-item {
    width: 100%;
    height: auto;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links.active {
    border-bottom: none;
    color: var(--primary-green);
    font-weight: bold;
  }

  .nav-links-button {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    width: 80%;
  }
  
  .menu-icon {
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--charcoal-text);
  }
}